<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Aristóteles Núñez Sánchez</string>
		<key>company</key>
		<string>SAT</string>
		<key>description</key>
		<string>Descripción pendiente</string>
		<key>twitter</key>
		<string>aristotelesn</string>
		<key>www</key>
		<string>http://www.sat.gob.mx/sitio_internet/quienes_somos/127_23987.html</string>
		<key>speaker_image</key>
		<string>speakers/aristotelesnunez.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Guillermo Valls Esponda</string>
		<key>company</key>
		<string>SAT</string>
		<key>description</key>
		<string>Descripción pendiente</string>
		<key>twitter</key>
		<string>satmx</string>
		<key>www</key>
		<string>http://www.sat.gob.mx</string>
		<key>speaker_image</key>
		<string>speakers/guillermovalls.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fernando Martínez Coss</string>
		<key>company</key>
		<string>SAT</string>
		<key>description</key>
		<string>Descripción pendiente</string>
		<key>twitter</key>
		<string>satmx</string>
		<key>www</key>
		<string>http://www.sat.gob.mx</string>
		<key>speaker_image</key>
		<string>speakers/fernandomartinez.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Javier Vega Flores</string>
		<key>company</key>
		<string>AMEXIPAC</string>
		<key>description</key>
		<string>Desde 2006 es Director General de Pegaso Tecnología, organización líder en la implementación de Factura Electrónica, Comercio Electrónico y Oficina sin Papel (Paperless Office).</string>
		<key>twitter</key>
		<string>amexipac</string>
		<key>www</key>
		<string>http://www.amexipac.org.mx/</string>
		<key>speaker_image</key>
		<string>speakers/javiervega.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marcela Lacoste</string>
		<key>company</key>
		<string>SII</string>
		<key>description</key>
		<string>Ingeniera en Computación e Informática. Lideró implantación Factura Electrónica en Chile (2003). Ha expuesto Internacionalmente la experiencia chilena.</string>
		<key>twitter</key>
		<string>sii_chile</string>
		<key>www</key>
		<string>http://home.sii.cl</string>
		<key>speaker_image</key>
		<string>speakers/marcelalacoste.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Carlos Sussumu Oda</string>
		<key>company</key>
		<string>MF</string>
		<key>description</key>
		<string>Descripción pendiente</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string></string>
		<key>speaker_image</key>
		<string>speakers/carlossussumu.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eudaldo Almeida</string>
		<key>company</key>
		<string>ENCAT</string>
		<key>description</key>
		<string>Descripción pendiente</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>http://www.encat.org</string>
		<key>speaker_image</key>
		<string>speakers/eudaldoalmeida.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Álvaro Bahía</string>
		<key>company</key>
		<string>ENCAT</string>
		<key>description</key>
		<string>Coordenador Nacional Sistema NF-e Brasil, ENCAT - SEFAZ/BA</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>http://www.encat.org</string>
		<key>speaker_image</key>
		<string>speakers/alvarobahia.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vinicius Pimentel de Freitas</string>
		<key>company</key>
		<string>ENCAT</string>
		<key>description</key>
		<string>Jefe, Documentos Fiscales Electrónicos - Receita Estadual, estado de Rio Grande do Sul, Brasil Coordenador Técnico Adjunto, Encat - Encontro Nacional de Coordenadores e Administradores Tributários Estaduais</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>http://www.linkedin.com/in/viniciusfreitas</string>
		<key>speaker_image</key>
		<string>speakers/viniciusfreitas.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newton Oller</string>
		<key>company</key>
		<string>SEFAZ - São Paulo</string>
		<key>description</key>
		<string>Líder Nacional del Proyecto de Factura Electrónica al retail en Brasil. Ha trabajado como consultor internacional por el BID/FMI, como experto en Factura Electrónica.</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>http://www.sefaz.se.gov.br</string>
		<key>speaker_image</key>
		<string>speakers/newtonoller.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>José Maurilio Gonçalves Dias</string>
		<key>company</key>
		<string>SERPRO</string>
		<key>description</key>
		<string>Coordinador del proyecto SPED (Sistema Público de Escrituração Digital)

Departamento de desarrollo de software en SERPRO.

Especialización en Análisis de Sistemas de la Universidade Federal de Minas Geraisy master en Administración pública de Fundação João Pinheiro. Director técnico de SPED desde 2005.</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>https://www.serpro.gov.br</string>
		<key>speaker_image</key>
		<string>speakers/josemaurilio.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marcio F. Verdi</string>
		<key>company</key>
		<string>CIAT</string>
		<key>description</key>
		<string>Secretario Ejecutivo del CIAT, economista, auditor-fiscal de carrera de la “Secretaria da Receita de Brasil”, estudioso de economía y de política tributaria, en especial.</string>
		<key>twitter</key>
		<string>ciatorg</string>
		<key>www</key>
		<string>http://www.ciat.org</string>
		<key>speaker_image</key>
		<string>speakers/marcioverdi.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Giovanni Tencio Pereira</string>
		<key>company</key>
		<string>MH</string>
		<key>description</key>
		<string>Descripción pendiente.</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>https://www.hacienda.go.cr</string>
		<key>speaker_image</key>
		<string>speakers/giovannitencio.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Juan Carlos Gómez Sánchez</string>
		<key>company</key>
		<string>MH</string>
		<key>description</key>
		<string>Descripción pendiente.</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>https://www.hacienda.go.cr</string>
		<key>speaker_image</key>
		<string>speakers/juangomez.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Julian Inza Aldaz</string>
		<key>company</key>
		<string>AMETIC</string>
		<key>description</key>
		<string>Presidente de EADTrust (European Agency of Digital Trust) prestador de servicios de confianza digital. Preside la Comisión de Factura Electrónica y Digitalización Certificada de AMETIC, es miembro de la Comisión de Factura Electrónica de CEOE y es miembro del Foro Multilateral de Factura Electrónica de España asociado al European Forum homónimo.</string>
		<key>twitter</key>
		<string>EADTrust</string>
		<key>www</key>
		<string>http://www.eadtrust.net</string>
		<key>speaker_image</key>
		<string>speakers/julianinza.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alvaro Omar Franco Chacón</string>
		<key>company</key>
		<string>SAT - Guatemala</string>
		<key>description</key>
		<string>Intendente de Recaudación y Gestión Superintendencia de Administración Tributaria-SAT

Implementó la Factura Electrónica en Guatemala, desde su inicio en el año 2008.
Implementó la Factura Electrónica en Guatemala, desde su inicio en el año 2008.</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>http://sat.gob.gt</string>
		<key>speaker_image</key>
		<string>speakers/alvarofranco.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bayron Bernabé Mendizabal Garrido</string>
		<key>company</key>
		<string>motioncasts.tv</string>
		<key>description</key>
		<string>Jefe del Depto. de Recaudación Intendencia de Recaudación Superintendencia de Administración Tributaria-SAT</string>
		<key>twitter</key>
		<string></string>
		<key>www</key>
		<string>http://sat.gob.gt</string>
		<key>speaker_image</key>
		<string>speakers/bayronmendizabal.png</string>
	</dict>
</array>
</plist>
